JWT_SECRET=Pk+BOapIuucuFMdUZsM2cyeZPb7Dh8rZF6OfEGo183we98JIctuWUWPNTZEzAQdUTmGq3c9CHpo/r6ibWg8XktWHM23KcOU5rOP23yiV8qsh/LggC4gdFJXVYJCh5jtHg88MYn6+JnxS6xM9ppQhk1GS/xC6Wq00rV273JyMz7vr7eF7DDturUVtcOiwEUJ0Rg8YsvyFpxISzG0rWRSj48K+Qd5Hons/walFdkkVsy+f/n++wYhRO3Gbj0dLD7ErNUTqVZG1YEHiOeuNjGdW9DGWEDxllqulusy8FdylQfz/d7E81VhdjEenWs1c23jHey/ZbtyCMLbR60ZTKolmCQ==


# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://postgres:123@localhost:5432/education-center"
CHECKPOINT_DISABLE=1